@page
@model LojourProperties.Web.Areas.Main.Pages.PropertySection.Section.GuideModel
@{
}
<div class="row">
    <div class="col-12">
        <div class="callout callout-info">
            <h5><i class="fas fa-info"></i> Note:</h5>
            This page guides you on how to set the google map of an area.

            <br />
            <h3>STEP 1</h3>
            <br />
            <p>
                <a href="~/guide/1.png" target="_blank">


                    <img src="~/guide/1.png" style="" />
                </a>
            </p>

            <br />
            <h3>STEP 2</h3>
            <br />
            <p>
                <a href="~/guide/2.png" target="_blank"> <img src="~/guide/2.png" style="max-height:400px;" /> </a>
            </p>

            <br />
            <h3>STEP 3</h3>
            <br />
            <p>
                <a href="~/guide/3.png" target="_blank"> <img src="~/guide/3.png" style="max-height:400px;" /> </a>
            </p>

            <br />
            <h3>STEP 4</h3>
            <br />
            <p>
                <a href="~/guide/4.png" target="_blank">  <img src="~/guide/4.png" style="max-height:400px;" /> </a>
            </p>
        </div>


    </div><!-- /.col -->
</div><!-- /.row -->