@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<h4>Login</h4>
<form id="account" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Email input -->
    <div class="form-outline">
        <label class="form-label" for="form3Example3" style="margin-bottom: .3rem; margin-top: .8rem;">Email address</label>
        <input type="email" id="form3Example3" asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <!-- Password input -->
    <div class="form-outline">
        <label class="form-label" for="myInput" style="margin-bottom: .3rem; margin-top: .8rem;">Password</label>
        <input type="password" id="myInput" asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-check d-flex mb-4">
                <input class="form-check-input me-2" type="checkbox" asp-for="Input.RememberMe" id="form2Example33" />
                <label class="form-check-label" for="form2Example33">
                    Remember Me
                </label>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-check d-flex">

                <input type="checkbox" onclick="myFunction()" id="" class="form-check-input me-2">
                <label class="form-check-label" for="form2Example33f">
                    Show Password
                </label>
            </div>
        </div>
    </div>
    <!-- Checkbox -->
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">
        Login
    </button>

    <!-- Register buttons -->
    <div class="text-center">
        <a id="forgot-password" asp-page="./ForgotPassword" class="forgot-password">Forgot Password</a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
}
