

<footer class="footer-bg">
    <!-- Footer Content -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3  col-sm-6 col-xs-12">
                    <!-- Info Widget -->
                    <div class="widget">
                        <div class="logo"> <img alt="" src="~/img/lojour-logo-web-2.png"> </div>
                        <p>
                            Lojour® is a property listing platform well known for helping real estate agencies and valuators showcase their various properties to prospective clients
                        </p>

                    </div>

                    <!-- Info Widget Exit -->
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <!-- Follow Us -->
                    <div class="widget socail-icons">
                        <h5>Follow Us</h5>
                        <ul>
                            <li><a class="Facebook" href=""><i class="fa fa-facebook"></i></a><span>Facebook</span></li>
                            <li><a class="Twitter" href=""><i class="fa fa-twitter"></i></a><span>Twitter</span></li>
                            <li><a class="Linkedin" href=""><i class="fa fa-linkedin"></i></a><span>Linkedin</span></li>
                            <li><a class="Google" href=""><i class="fa fa-google-plus"></i></a><span>Google+</span></li>
                        </ul>
                    </div>
                    <!-- Follow Us End -->
                </div>
                <div class="col-md-2  col-sm-6 col-xs-12">
                    <!-- Follow Us -->
                    <div class="widget my-quicklinks">
                        <h5>Quick Links</h5>
                        <ul>
                            <li><a asp-page="/Page/WebPage" asp-route-id="786f812a-8436-4587-8f1d-c9dc68a48898"><i class="fa fa-heart-o" aria-hidden="true"></i> About</a></li>
                            <li><a asp-page="/Page/WebFaq"><i class="fa fa-folder-open-o" aria-hidden="true"></i> FAQS</a></li>
                            <li><a asp-page="/Page/WebPage" asp-route-id="c2a3c223-b3e3-427a-95ce-893fc93e1104"><i class="fa fa-heart-o" aria-hidden="true"></i> Privacy Policy</a></li>
                            <li><a asp-page="/Page/WebPage" asp-route-id="683b2c9c-6e1f-4354-9081-ed693bdf5728"><i class="fa fa-heart-o" aria-hidden="true"></i> Terms of Use</a></li>



                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- Follow Us End -->
                </div>
                <div class="col-md-5  col-sm-6 col-xs-12">
                    <!-- Newslatter -->
                    <div class="widget widget-newsletter">
                        <h5>Singup for Weekly Newsletter</h5>
                        <div class="fieldset">
                            <p>
                                Get updated on our weekly events and properties
                            </p>
                            <form>
                                <input class="" value="Enter your email address" type="text">
                                <input class="submit-btn" name="submit" value="Submit" type="submit">
                            </form>
                        </div>
                    </div>
                    <div class="copyright">
                        <p>© 2023 LOJOUR PROPERTIES All rights reserved. Developed by <a href="https://www.exwhyzee.ng/" target="_blank">EXWHYZEE TECHNOLOGIES</a> </p>
                    </div>
                    <!-- Newslatter -->
                </div>
            </div>
        </div>
    </div>

</footer>