

<footer class="footer-bg">
    <!-- Footer Content -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3  col-sm-6 col-xs-12">
                    <!-- Info Widget -->
                    <div class="widget">
                        <div class="logo"> <img alt="" src="~/img/lojour-logo-green.png"> </div>
                        <p>
                            Lojour® is a property listing platform well known for helping property owners, agents and valuers showcase their various properties to prospective clients. The fastest in closing deals.
                        </p>

                    </div>

                    <!-- Info Widget Exit -->
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <!-- Follow Us -->
                    <div class="widget socail-icons">
                        <h5>Follow Us</h5>
                        <ul>
                            <li><a class="Facebook" target="_blank" href="https://www.facebook.com/lojourhomes"><i class="fa fa-facebook"></i></a><span>Facebook</span></li>
                            <li><a class="Twitter" target="_blank" href="https://x.com/lojour_p?t=1KZSETtPmhFp0qUnrJx5aw&s=09"><i class="fa fa-twitter"></i></a><span>Twitter</span></li>
                             
                        </ul>
                    </div>
                    <!-- Follow Us End -->
                </div>
                <div class="col-md-2  col-sm-6 col-xs-12">
                    <!-- Follow Us -->
                    <div class="widget my-quicklinks">
                        <h5>Quick Links</h5>
                        <ul>
                            <li><a asp-page="/Page/WebPage" asp-route-id="786f812a-8436-4587-8f1d-c9dc68a48898"><i class="fa fa-heart-o" aria-hidden="true"></i> About</a></li>
                            <li><a asp-page="/Page/WebFaq"><i class="fa fa-folder-open-o" aria-hidden="true"></i> FAQS</a></li>
                            <li><a asp-page="/Page/WebPage" asp-route-id="c2a3c223-b3e3-427a-95ce-893fc93e1104"><i class="fa fa-heart-o" aria-hidden="true"></i> Privacy Policy</a></li>
                            <li><a asp-page="/Page/WebPage" asp-route-id="683b2c9c-6e1f-4354-9081-ed693bdf5728"><i class="fa fa-heart-o" aria-hidden="true"></i> Terms of Use</a></li>



                            <li><a asp-page="/ContactUs" >Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- Follow Us End -->
                </div>
                <div class="col-md-5  col-sm-6 col-xs-12">
                    <!-- Newslatter -->
                    <div class="widget widget-newsletter">
                        <h5>Sign up for latest updates on properties</h5>
                        <div class="fieldset">
                            <p>
                                <br />
                            </p>
                            <form method="post" asp-page-handler="SubmitForm">
                                <input class="" name="email" placeholder="Enter your email address" type="text">
                                <input class="submit-btn" name="submit" value="Submit" type="submit">
                            </form>
                        </div>
                    </div>
                    <div class="copyright">
                        <p>© 2023 LOJOUR PROPERTIES All rights reserved. Developed by <a href="https://www.juray.ng/" target="_blank">JURAY SMART SOLUTIONS LIMITED</a> </p>
                    </div>
                    <!-- Newslatter -->
                </div>
            </div>
        </div>
    </div>

</footer>