 

<div class="funfacts custom-padding parallex" style="padding: 40px 0 30px 0; background: rgba(0, 0, 0, 0) url(../img/Float-banner-lojour.jpg) no-repeat scroll center center; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="icons">
                    <i class="fas fa-home"></i>
                </div>
                <div class="number"><span class="timer" data-from="0" data-to="@ViewBag.p" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                <h4>Total <span>Properties</span></h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="icons">
                    <i class="fas fa-users"></i>
                </div>
                <div class="number"><span class="timer" data-from="0" data-to="@ViewBag.u" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                <h4>Verified <span>Agents</span></h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="icons">
                    <i class="fas fa-money"></i>
                </div>
                <div class="number"><span class="timer" data-from="0" data-to="@ViewBag.a" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                <h4>Completed <span>Deals</span></h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="icons">
                    <i class="fas fa-globe"></i>
                </div>
                <div class="number"><span class="timer" data-from="0" data-to="@ViewBag.l" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                <h4>Locations <span></span></h4>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>