@page
@model LojourProperties.UI.Areas.Main.Pages.FileManager.IndexModel
@{
}
<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="file" />
    <input type="submit" />
</form>



<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
<img class="" src="@await Component.InvokeAsync("ImagePreview", new{key = "5d36665e-6782-46ae-9c15-2cc2c120526a.jpg"})" alt="" style="height:50px; width:50px;margin-left:auto;margin-right:auto;">
