@page
@model LojourProperties.Web.Areas.Main.Pages.INewsletter.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">NEW NEWSLETTER</h3>



    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Newsletter.Email" class="control-label"></label>
                <input asp-for="Newsletter.Email" class="form-control" />
                <span asp-validation-for="Newsletter.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Newsletter.Date" class="control-label"></label>
                <input asp-for="Newsletter.Date" class="form-control" />
                <span asp-validation-for="Newsletter.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

            </div>
        </form>
    </div>


    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
