@page
@model LojourProperties.UI.Pages.Page.WebPageModel
@{
    ViewData["Title"] = "Page";
    ViewData["Title2"] = Model.WebPage.Title;
}
<partial name="_Breadcrumb" />

<div class="main-content-area clearfix">


    </div>
