@page "/index"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.EntityFrameworkCore
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- =-=-=-=-=-=-= Primary Header End =-=-=-=-=-=-= -->
@await Component.InvokeAsync("Slider")

<!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
<div class="main-content-area clearfix">
    <!-- =-=-=-=-=-=-= Search Bar =-=-=-=-=-=-= -->
    
@await Component.InvokeAsync("HomeSearch")
<!-- =-=-=-=-=-=-= Search Bar End =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Ads Archieve =-=-=-=-=-=-= -->
<section class="custom-padding">
    <!-- Main Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="clearfix"></div>
            <!-- Heading Area -->
            <div class="heading-panel">
                <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                    <!-- Main Title -->
                    <h1>Featured <span class="heading-color"> Car</span> Deals</h1>
                    <!-- Short Description -->
                    <p class="heading-text">Eu delicata rationibus usu. Vix te putant utroque, ludus fabellas duo eu, his dico ut debet consectetuer.</p>
                </div>
            </div>
            <!-- Middle Content Box -->
            <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                
                    <div class="posts-masonry">
                            @await Component.InvokeAsync("HomeProperty")

                        
                    </div>
                </div>
            </div>
            <!-- Middle Content Box End -->
            <img alt="" class="block-content wow zoomIn " data-wow-delay="0ms" data-wow-duration="3500ms" src="images/cars.png">
        </div>
        <!-- Row End -->
    </div>
    <!-- Main Container End -->
</section>
<!-- =-=-=-=-=-=-= Ads Archieve End =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Statistics Counter =-=-=-=-=-=-= -->
<div class="funfacts custom-padding parallex">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="icons">
                    <i class="flaticon-vehicle"></i>
                </div>
                <div class="number"><span class="timer" data-from="0" data-to="1238" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                <h4>Total <span>Cars</span></h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="icons">
                    <i class="flaticon-security"></i>
                </div>
                <div class="number"><span class="timer" data-from="0" data-to="820" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                <h4>Verified <span>Dealers</span></h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="icons">
                    <i class="flaticon-like-1"></i>
                </div>
                <div class="number"><span class="timer" data-from="0" data-to="1042" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                <h4>Active <span>Users</span></h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="icons">
                    <i class="flaticon-cup"></i>
                </div>
                <div class="number"><span class="timer" data-from="0" data-to="34" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                <h4>Featured <span>Ads</span></h4>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- =-=-=-=-=-=-= Statistics Counter End =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Services Section  =-=-=-=-=-=-= -->
<section class="custom-padding services-2">
    <div class="absolute-img"><img alt="" src="images/car.png" class="img-responsive wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7 col-sm-12 col-xs-12 ">
                <div class="choose-title">
                    <h3>Services We Offer</h3>
                    <h2>We are expert in</h2>
                    <p>Ut consequat velit a metus accumsan, vel tempor nulla blandit. Integer euismod magna vel mi congue suscipit. Praesent quis facilisis neque. Donec scelerisque nibh vitae sapien ornare efficitur.</p>
                </div>
                <div class="choose-services">
                    <ul class="choose-list">
                        <!-- feature -->
                        <li class="col-md-6 col-xs-12 col-sm-6">
                            <div class="services-grid">
                                <div class="icons"><i class="flaticon-key"></i></div>
                                <h4>Dealership</h4>
                                <p>We have the right caring, experience and dedicated professional for you.</p>
                            </div>
                        </li>
                        <!-- feature -->
                        <li class="col-md-6 col-xs-12 col-sm-6">
                            <div class="services-grid">
                                <div class="icons"><i class="flaticon-engine-2"></i></div>
                                <h4> Engine Upgrades</h4>
                                <p>We have the right caring, experience and dedicated professional for you.</p>
                            </div>
                        </li>
                        <!-- feature -->
                        <li class="col-md-6 col-xs-12 col-sm-6">
                            <div class="services-grid">
                                <div class="icons"><i class="flaticon-security"></i></div>
                                <h4> Security Inspections</h4>
                                <p>We have the right caring, experience and dedicated professional for you.</p>
                            </div>
                        </li>
                        <!-- feature -->
                        <li class="col-md-6 col-xs-12 col-sm-6">
                            <div class="services-grid">
                                <div class="icons"><i class="flaticon-disc-brake-1"></i></div>
                                <h4>Break Checkup</h4>
                                <p>We have the right caring, experience and dedicated professional for you.</p>
                            </div>
                        </li>
                    </ul>
                    <!-- end choose-list -->
                </div>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- =-=-=-=-=-=-= Services Section End =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Car Comparison =-=-=-=-=-=-= -->
<section class="section-padding gray">
    <!-- Main Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="clearfix"></div>
            <!-- Heading Area -->
            <div class="heading-panel">
                <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                    <!-- Main Title -->
                    <h1>Popular  <span class="heading-color"> Car</span> Comparison</h1>
                    <!-- Short Description -->
                    <p class="heading-text">Eu delicata rationibus usu. Vix te putant utroque, ludus fabellas duo eu, his dico ut debet consectetuer.</p>
                </div>
            </div>
            <!-- Middle Content Box -->
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 text-center ">
                    <ul class="compare-masonry">
                        <li class="col-md-6 col-sm-6 col-xs-12">
                            <div class="comparison-box">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="compare-grid">
                                        <a href="#" class="">
                                            <img src="images/compare/2.png" alt="" class="img-responsive" />
                                        </a>
                                        <h2><a href="#">2016 Ford Escape cape  </a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="vsbox">vs</div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="compare-grid">
                                        <a href="" class=""><img src="images/compare/1.png" alt="" class="img-responsive" /></a>
                                        <h2><a href="#">2017 Chevrolet Camaro </a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li class="col-md-6 col-sm-6 col-xs-12">
                            <div class="comparison-box">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="compare-grid">
                                        <a href="#" class="">
                                            <img src="images/compare/3.png" alt="" class="img-responsive" />
                                        </a>
                                        <h2><a href="#">2017 Chevrolet Corvette </a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="vsbox">vs</div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="compare-grid">
                                        <a href="" class=""><img src="images/compare/4.png" alt="" class="img-responsive" /></a>
                                        <h2><a href="#">2017 Honda Accord Sedan </a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li class="col-md-6 col-sm-6 col-xs-12">
                            <div class="comparison-box">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="compare-grid">
                                        <a href="#" class="">
                                            <img src="images/compare/5.png" alt="" class="img-responsive" />
                                        </a>
                                        <h2><a href="#">Mercedes-Benz C-Class </a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="vsbox">vs</div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="compare-grid">
                                        <a href="" class=""><img src="images/compare/6.png" alt="" class="img-responsive" /></a>
                                        <h2><a href="#">2017 Honda CR-V </a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li class="col-md-6 col-sm-6 col-xs-12">
                            <div class="comparison-box">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="compare-grid">
                                        <a href="#" class="">
                                            <img src="images/compare/7.png" alt="" class="img-responsive" />
                                        </a>
                                        <h2><a href="#">2016 Ford Mustang</a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(3)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vsbox">vs</div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="compare-grid">
                                        <a href="" class=""><img src="images/compare/8.png" alt="" class="img-responsive" /></a>
                                        <h2><a href="#">2017 Toyota RAV4 </a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(3)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center">
                <div class="load-more-btn">
                    <button class="btn btn-theme"> View All Comparisons <i class="fa fa-refresh"></i> </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =-=-=-=-=-=-= Car Comparison End  =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Expert Reviews Section =-=-=-=-=-=-= -->
<section class="news section-padding">
    <div class="container">
        <div class="row">
            <div class="heading-panel">
                <div class="col-xs-12 col-md-12 col-sm-12 left-side">
                    <!-- Main Title -->
                    <h1>Expert  <span class="heading-color"> Reviews</span> Feedback</h1>
                    <!-- Short Description -->
                    <p class="heading-text">Eu delicata rationibus usu. Vix te putant utroque, ludus fabellas duo eu, his dico ut debet consectetuer.</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="mainimage">
                    <a>
                        <img alt="" class="img-responsive" src="images/blog/1.jpg">
                        <div class="overlay">
                            <h2>Eight Things You Should Know About The Mercedes-Benz E-Class LWB</h2>
                        </div>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="newslist">
                    <ul>
                        <li>
                            <div class="imghold"> <a><img src="images/blog/s1.jpg" alt=""></a> </div>
                            <div class="texthold">
                                <h4><a>2017 Honda City: Which Variant Suits You? </a></h4>
                                <p>With the 2017 facelifted avatar, the Honda City has significantly upped its game...&nbsp;</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="imghold"> <a><img src="images/blog/s2.jpg" alt=""></a> </div>
                            <div class="texthold">
                                <h4><a>Honda City Facelift &ndash; Expected Prices </a></h4>
                                <p>Honda will launch the City facelift in India on Feb 14, 2017 and it promises to...&nbsp;</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="imghold"> <a><img src="images/blog/s3.jpg" alt=""></a> </div>
                            <div class="texthold">
                                <h4><a>Audi A4 Diesel Launched In India At Rs 40.20 Lakh </a></h4>
                                <p>Audi India has launched a powerful diesel variant of its A4 sedan at Rs 40.20 la...&nbsp;</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="imghold"> <a><img src="images/blog/s4.jpg" alt=""></a> </div>
                            <div class="texthold">
                                <h4><a>Audi A4 Diesel Launched In India At Rs 40.20 Lakh </a></h4>
                                <p>Audi India has launched a powerful diesel variant of its A4 sedan at Rs 40.20 la...&nbsp;</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- =-=-=-=-=-=-= Expert Reviews End =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= App Download Section =-=-=-=-=-=-= -->
<div class="app-download-section style-2">
    <!-- app-download-section-wrapper -->
    <div class="app-download-section-wrapper">
        <!-- app-download-section-container -->
        <div class="app-download-section-container">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="mobile-image-content"> <img src="images/hand.png" alt=""> </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="app-text-section">
                            <h5>Download our app</h5>
                            <h3>Get Our App For Your Mobile</h3>
                            <ul>
                                <li>Find nearby cars in your network with Scholar</li>
                                <li>Browse real hirers reviews to know why choose Scholar</li>
                                <li>Rent a car so easy with a tap !</li>
                                <li>Rent a car so easy with a tap !</li>
                            </ul>
                            <div class="app-download-btn">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <!-- Windows Store -->
                                        <a href="#" title="Windows Store" class="btn app-download-button">
                                            <span class="app-store-btn">
                                                <i class="fa fa-windows"></i>
                                                <span>
                                                    <span>Download From</span>
                                                    <span>Windows Store </span>
                                                </span>
                                            </span>
                                        </a>
                                        <!-- /Windows Store -->
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <!-- Windows Store -->
                                        <a href="#" title="Windows Store" class="btn app-download-button">
                                            <span class="app-store-btn">
                                                <i class="fa fa-apple"></i>
                                                <span>
                                                    <span>Download From</span> <span>Apple Store </span>
                                                </span>
                                            </span>
                                        </a>
                                        <!-- /Windows Store -->
                                    </div>
                                    <!-- Windows Store -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /app-download-section-container -->
    </div>
    <!-- /download-section-wrapper -->
</div>
<!-- =-=-=-=-=-=-= App Download Section End =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Feedback Section =-=-=-=-=-=-= -->
<section class="news section-padding">
    <div class="container">
        <div class="row">
            <div class="heading-panel">
                <div class="col-xs-12 col-md-12 col-sm-12 left-side">
                    <!-- Main Title -->
                    <h1>Clients  <span class="heading-color"> Reviews</span> Feedback</h1>
                    <!-- Short Description -->
                    <p class="heading-text">Eu delicata rationibus usu. Vix te putant utroque, ludus fabellas duo eu, his dico ut debet consectetuer.</p>
                </div>
            </div>
            <!-- Middle Content Box -->
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="owl-testimonial-1">
                        <div class="single_testimonial">
                            <div class="textimonial-content">
                                <h4>Just fabulous</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru.</p>
                            </div>
                            <div class="testimonial-meta-box">
                                <img src="images/users/1.jpg" alt="">
                                <div class="testimonial-meta">
                                    <h3 class="">Jhon Emily Copper </h3>
                                    <p> Developer</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single_testimonial">
                            <div class="textimonial-content">
                                <h4>Awesome ! Loving It</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru.</p>
                            </div>
                            <div class="testimonial-meta-box">
                                <img src="images/users/2.jpg" alt="">
                                <div class="testimonial-meta">
                                    <h3 class="">Hania Sheikh </h3>
                                    <p> CEO Pvt. Inc.</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single_testimonial">
                            <div class="textimonial-content">
                                <h4>Very quick and Fast</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru.</p>
                            </div>
                            <div class="testimonial-meta-box">
                                <img src="images/users/3.jpg" alt="">
                                <div class="testimonial-meta">
                                    <h3 class="">Jaccica Albana </h3>
                                    <p>  CTO Albana Inc.</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single_testimonial">
                            <div class="textimonial-content">
                                <h4>Done in 3 Months! Awesome</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru.</p>
                            </div>
                            <div class="testimonial-meta-box">
                                <img src="images/users/4.jpg" alt="">
                                <div class="testimonial-meta">
                                    <h3 class="">Humayun Sarfraz </h3>
                                    <p>  CTO Glixen Technologies.</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single_testimonial">
                            <div class="textimonial-content">
                                <h4>Find It Quit Professional</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru.</p>
                            </div>
                            <div class="testimonial-meta-box">
                                <img src="images/users/4.jpg" alt="">
                                <div class="testimonial-meta">
                                    <h3 class="">Massica O'Brain </h3>
                                    <p> Audit Officer </p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single_testimonial">
                            <div class="textimonial-content">
                                <h4>Just fabulous</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru.</p>
                            </div>
                            <div class="testimonial-meta-box">
                                <img src="images/users/1.jpg" alt="">
                                <div class="testimonial-meta">
                                    <h3 class="">Jhon Emily Copper </h3>
                                    <p> Developer</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single_testimonial">
                            <div class="textimonial-content">
                                <h4>Awesome ! Loving It</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru.</p>
                            </div>
                            <div class="testimonial-meta-box">
                                <img src="images/users/2.jpg" alt="">
                                <div class="testimonial-meta">
                                    <h3 class="">Hania Sheikh </h3>
                                    <p> CEO Pvt. Inc.</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single_testimonial">
                            <div class="textimonial-content">
                                <h4>Very quick and Fast</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru.</p>
                            </div>
                            <div class="testimonial-meta-box">
                                <img src="images/users/3.jpg" alt="">
                                <div class="testimonial-meta">
                                    <h3 class="">Jaccica Albana </h3>
                                    <p>  CTO Albana Inc.</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single_testimonial">
                            <div class="textimonial-content">
                                <h4>Done in 3 Months! Awesome</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru.</p>
                            </div>
                            <div class="testimonial-meta-box">
                                <img src="images/users/4.jpg" alt="">
                                <div class="testimonial-meta">
                                    <h3 class="">Humayun Sarfraz </h3>
                                    <p>  CTO Glixen Tech.</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="single_testimonial">
                            <div class="textimonial-content">
                                <h4>Find It Quit Professional</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru.</p>
                            </div>
                            <div class="testimonial-meta-box">
                                <img src="images/users/4.jpg" alt="">
                                <div class="testimonial-meta">
                                    <h3 class="">Massica O'Brain </h3>
                                    <p> Audit Officer </p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Middle Content Box End -->
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- =-=-=-=-=-=-= Feedback Section End =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Clients  =-=-=-=-=-=-= -->
<div class="happy-clients-area gray">
    <div class="container">
        <div class="row clients-space">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="client-brand-list">
                    <div class="sigle-clients-brand">
                        <a href="#"><img src="images/brands/1.png" alt=""></a>
                    </div>
                    <div class="sigle-clients-brand">
                        <a href="#"><img src="images/brands/2.png" alt=""></a>
                    </div>
                    <div class="sigle-clients-brand">
                        <a href="#"><img src="images/brands/3.png" alt=""></a>
                    </div>
                    <div class="sigle-clients-brand">
                        <a href="#"><img src="images/brands/4.png" alt=""></a>
                    </div>
                    <div class="sigle-clients-brand">
                        <a href="#"><img src="images/brands/5.png" alt=""></a>
                    </div>
                    <div class="sigle-clients-brand">
                        <a href="#"><img src="images/brands/6.png" alt=""></a>
                    </div>
                    <div class="sigle-clients-brand">
                        <a href="#"><img src="images/brands/7.png" alt=""></a>
                    </div>
                    <div class="sigle-clients-brand">
                        <a href="#"><img src="images/brands/8.png" alt=""></a>
                    </div>
                    <div class="sigle-clients-brand">
                        <a href="#"><img src="images/brands/9.png" alt=""></a>
                    </div>
                    <div class="sigle-clients-brand">
                        <a href="#"><img src="images/brands/11.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =-=-=-=-=-=-= Clients  End =-=-=-=-=-=-= -->
    <!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
    @await Component.InvokeAsync("Footer")

    <!-- =-=-=-=-=-=-= FOOTER END =-=-=-=-=-=-= -->
</div>

