@page

@using Microsoft.AspNetCore.Components.Web
@using Microsoft.EntityFrameworkCore
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- =-=-=-=-=-=-= Primary Header End =-=-=-=-=-=-= -->
@await Component.InvokeAsync("Slider")

<!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
<div class="main-content-area clearfix">
    <!-- =-=-=-=-=-=-= Search Bar =-=-=-=-=-=-= -->

    @await Component.InvokeAsync("HomeSearch")

    @await Component.InvokeAsync("HomeCategory")


    <section class="custom-padding">
        <!-- Main Container -->
        <div class="container-fluid" style="margin:0 10%;">
            <!-- Row -->
            <div class="row">
                <div class="clearfix"></div>
                <!-- Heading Area -->
                <div class="heading-panel">
                    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                        <!-- Main Title -->
                        <h1 style="font-family: 'Berlin Sans FB Demi Bold' !important;">PROPERTIES <span class="heading-color"> AVAILABLE</span></h1>
                    </div>
                </div>
                <!-- Middle Content Box -->
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">

                        <div class="posts-masonry">
                            @await Component.InvokeAsync("HomeProperty")


                        </div>
                    </div>
                </div>

            </div>
            <!-- Row End -->
        </div>
        <!-- Main Container End -->
    </section>
    <div class="funfacts custom-padding parallex" style="padding: 40px 0 30px 0; background: rgba(0, 0, 0, 0) url(../img/Float-banner-lojour.jpg) no-repeat scroll center center; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icons">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="number"><span class="timer" data-from="0" data-to="1238" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                    <h4>Total <span>Properties</span></h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icons">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="number"><span class="timer" data-from="0" data-to="234" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                    <h4>Verified <span>Agents</span></h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icons">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="number"><span class="timer" data-from="0" data-to="742" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                    <h4>Active <span>Users</span></h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icons">
                        <i class="fas fa-globe"></i>
                    </div>
                    <div class="number"><span class="timer" data-from="0" data-to="84" data-speed="1500" data-refresh-interval="5">0</span>+</div>
                    <h4>Locations <span></span></h4>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>


    <!--<section class="news section-padding">
        <div class="container">
            <div class="row">
                <div class="heading-panel">
                    <div class="col-xs-12 col-md-12 col-sm-12 left-side">-->
    <!-- Main Title -->
    <!--<h1>Clients  <span class="heading-color"> Reviews</span> Feedback</h1>
        </div>
    </div>-->
    <!-- Middle Content Box -->
    <!--<div class="col-md-12 col-xs-12 col-sm-12">
        <div class="row">
            <div class="owl-testimonial-1">
                @foreach (var item in Model.Testimonies)
                {
                    <div class="single_testimonial">
                        <div class="textimonial-content">

                            <p>@item.Message</p>
                        </div>
                        <div class="testimonial-meta-box">
                            <div class="testimonial-meta">
                                <h3 class="">@item.Name</h3>
                                <p> @item.Location</p>

                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>-->
    <!-- Middle Content Box End -->
    <!--</div>
            <div class="clearfix"></div>
        </div>
    </section>-->


    @await Component.InvokeAsync("Footer")


</div>

