@page

@using Microsoft.AspNetCore.Components.Web
@using Microsoft.EntityFrameworkCore
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- =-=-=-=-=-=-= Primary Header End =-=-=-=-=-=-= -->
@await Component.InvokeAsync("Slider")

<!-- =-=-=-=-=-=-= Main Content Area =-=-=-=-=-=-= -->
<section class="main-content-area clearfix">
    <!-- =-=-=-=-=-=-= Search Bar =-=-=-=-=-=-= -->

    @await Component.InvokeAsync("HomeSearch")

    @await Component.InvokeAsync("HomeCategory")

    <section class="custom-padding">
        <!-- Main Container -->
        <div class="container-fluid" style="margin:0 10%;">
            <!-- Row -->
            <div class="row">
                <div class="clearfix"></div>
                <!-- Heading Area -->
                <div class="heading-panel">
                    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                        <!-- Main Title -->
                        <h1 style="font-family: 'Berlin Sans FB Demi Bold' !important;">PROPERTIES</h1>
                    </div>
                </div>
                <!-- Middle Content Box -->
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">

                        <div class="posts-masonry">
                            @await Component.InvokeAsync("HomeProperty")


                        </div>
                    </div>
                </div>

            </div>
            <!-- Row End -->
        </div>
        <!-- Main Container End -->
    </section>

    @await Component.InvokeAsync("HomeCount")



    <section class="custom-padding">
        <!-- Main Container -->
        <div class="container-fluid" style="margin:0 10%;">
            <!-- Row -->
            <div class="row">
                <div class="clearfix"></div>
                <!-- Heading Area -->
                <div class="">
                    <div class="col-xs-4 col-md-4 col-sm-12 text-center">
                        <a asp-page="/Property" asp-route-category="Rent" class="btn btn-theme btn-primary" style="width:100%;">Click To Rent</a>
                    </div>
                    <div class="col-xs-4 col-md-4 col-sm-12 text-center">
                        <a asp-page="/Property" asp-route-category="Sale" class="btn btn-theme btn-danger" style="width:100%;">Click To Sale</a>
                    </div>
                    <div class="col-xs-4 col-md-4 col-sm-12 text-center">
                        <a asp-page="/Property" asp-route-category="Lease" class="btn btn-theme btn-warning" style="width:100%;">Click To Lease</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="custom-padding">
        <!-- Main Container -->
        <div class="container-fluid" style="margin:0 10%;">
            <!-- Row -->
            <div class="row">
                <div class="clearfix"></div>
                <!-- Heading Area -->
                <div class="heading-panel">
                    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                        <!-- Main Title -->
                        <h1 style="font-family: 'Berlin Sans FB Demi Bold' !important;">DISTRESS PROPERTIES</h1>
                    </div>
                </div>
                <!-- Middle Content Box -->
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">

                        <div class="posts-masonry">
                            @await Component.InvokeAsync("DistressProperty")

                        </div>
                    </div>
                </div>

            </div>
            <!-- Row End -->
        </div>
        <!-- Main Container End -->
    </section>
    <section class="custom-padding">
        <!-- Main Container -->
        <div class="container-fluid" style="margin:0 10%;">
            <!-- Row -->
            <div class="row">
                <div class="clearfix"></div>
                <!-- Heading Area -->
                <div class="heading-panel">
                    <div class="col-xs-12 col-md-12 col-sm-12 text-center">
                        <div>
                            <a asp-page="/Property" class="btn-theme btn-lg btn">Properties in other States <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>


            </div>
            <!-- Row End -->
        </div>
        <!-- Main Container End -->
    </section>


    @await Component.InvokeAsync("Footer")


</section>

