@page
@model LojourProperties.Web.Areas.Main.Pages.PropertySection.FeatureCategory.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE FEATURES CATEGORY </h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="FeaturesCategory.Id" />
                    <div class="form-group">
                        <label asp-for="FeaturesCategory.Name" class="control-label"></label>
                        <input asp-for="FeaturesCategory.Name" class="form-control" />
                        <span asp-validation-for="FeaturesCategory.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FeaturesCategory.Description" class="control-label"></label>
                        <input asp-for="FeaturesCategory.Description" class="form-control" />
                        <span asp-validation-for="FeaturesCategory.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FeaturesCategory.Icon" class="control-label"></label>
                        <input asp-for="FeaturesCategory.Icon" class="form-control" />
                        <span asp-validation-for="FeaturesCategory.Icon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
